POSTGRES_DB=smart_tourism
POSTGRES_USER=smart_tourism
POSTGRES_PASSWORD=smart_tourism
POSTGRES_PORT=5432
BACKEND_PORT=8000
ROUTING_ENABLED=true
ROUTING_BASE_URL=http://routing:5000
ROUTING_PROFILE=foot
ROUTING_TIMEOUT_SECONDS=0.75
